@import "_common";


html {
	background: $col_void;
}

body {
	margin: 0;
	font-family: sans-serif;
	background: $col_light;

	a {
		text-decoration: none;
	}
	

	.upcoming {
		img.poster {
			width: 100%;
		}

		img.sponsor {
			margin: 1rem 1rem 1rem 0;
		}

		@media (max-width: $min_width) {
			width: 90%;
		}
	}


	.wide {
		display: flex;
		margin: auto;
		width: $width;
		justify-content: space-between;

		> * {
			width: 48%;
			margin: 3rem 0;
		}

		@media (max-width: $min_width) {
			width: 90%;
			display: block;

			> * {
				width: 100%;
			}
		}
	}

	.subheader, main {
		font-size: 1.125rem;
		line-height: 1.25rem;

		h1, h2, h3, h4, h5, h6 {
			font-family: 'Urbanist', sans-serif;
			line-height: normal;
			font-weight: 100;
			letter-spacing: 0.2rem;
		}

		h1 {
			font-size: 3.0rem;
			font-weight: 300;
			letter-spacing: 0.3rem;
		}
		h2 {
			font-size: 2rem;
			margin-top: 2.5rem;
		}
		h3 {
			font-size: 1.75rem;
			margin-top: 2.25rem;
		}
		h4 {
			font-size: 1.5rem;
			margin-top: 2.0rem;
		}

		.cheat {
			margin-top: 6rem;
		}
	}

	.subheader {
		/*background: #ed573a;*/
		background: #666;//#643;
		color: white;

		a, a:visited {
			//color: #f69236;
			color: #f6e276
		}
		
		a:hover {
			color: $col_main;
		}
	
		@media (max-width: $min_width) {
			padding: 1rem 0;
		}
	}

	main {
		background: $col_light;
		color: $col_dark;

		a {
			color: #ed573a;
		}
	}

	.button {
		margin: 1rem auto;
		display: flex;

		/* default */
		> a, a:visited {
			padding: 1rem 2rem;
			border: 3px solid;
			text-transform: uppercase;

			display: inline-block;
			margin: auto;

			transition: color 0.25s, border-color 0.25s, background 0.25s; 

			$col: $col_light;
			color: $col;
			border-color: rgba($col, 0.7);
			background: rgba($col, 0.2);
		}

		a:hover {
			$col: $col_light;
			color: $col_dark;
			border-color: $col;
			background: $col;
		}

		/* dark version*/
		&.dark > a {
			$col: $col_dark;
			color: $col;
			border-color: rgba($col, 0.7);
			background: rgba($col, 0.2);

			&:hover {
				color: $col_light;
				border-color: $col;
				background: $col;
			}
		}
	}
}
