@use "sass:color";

$col_main: red;
$col_dark: #232020;
$col_light: white;
$col_void: black;


html {
	background: $col_void;
}

body {
	margin: 0;
	font-family: sans-serif;
	background: $col_light;

	> header {
		color: $col_light;
		background: $col_dark;

		> .hero {
			/*background: $col_main;*/
			
			width: 100vw;
			height: 100vh;
			max-width: 100%; /* Firefox bugfix */
		}
	}

	> footer {
		color: $col_light;
		background: $col_dark;

		> section {
			padding: 2rem 1rem;
			text-align: center;
		}

		a {
			color: $col_main;
		} 
	}

	.button {
		padding: 1rem 2rem;
		border: 3px solid;

		display: inline-block;
		text-decoration: none;
		margin: 1rem;

		/* default */
		$col: $col_light;
		color: $col;
		background: rgba($col, 0.2);

		&:hover {
			color: $col_dark;
			background: $col;
		}

		/* dark version*/
		&.dark {
			$col: $col_dark;
			color: $col;
			background: rgba($col, 0.2);

			&:hover {
				color: $col_light;
				background: $col;
			}
		}
	}
}
