@use "sass:color";

$col_main: red;
$col_dark: #232020;
$col_light: white;
$col_void: black;


html {
	background: $col_void;
}

body {
	margin: 0;
	font-family: sans-serif;
	background: $col_light;

	a {
		text-decoration: none;
	}

	> header {
		color: $col_light;
		background: $col_dark;
		position: relative;

		> .hero {
			/* viewport dimensions */
			width: 100vw;
			height: 100vh;
			max-width: 100%; /* To Firefox, 100vw omits the scrollbar */

			background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("/hero/hello-lightbulb-unsplash-2560.jpg");
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			//background-attachment: fixed;


			> div {
				display: flex;
				flex-direction: column;
				align-items: center;

				position: absolute;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;
			}

			img {
				width: 35vw;
				margin: 2rem;
			}
		}

		nav {
			display: flex;

			color: $col_light;
			background: rgba($col_dark, 0.8);

			div {
				display: inline-block;
			}

			div.left {
				float: left;
				img {
					height: 48px;
					margin: 1rem;
				}
			}

			div.right {
				margin-left: auto;

				a {
					display: inline-block;
					padding: 2rem 1rem;

					color: $col_light;

					&:hover {
						color: $col_main;
					}
				}
			}
		}
	}

	> footer {
		color: $col_light;
		background: $col_dark;

		> section {
			padding: 2rem 1rem;
			text-align: center;
		}

		a {
			color: $col_main;
		} 
	}

	.button {
		padding: 1rem 2rem;
		border: 3px solid;

		display: inline-block;
		margin: 1rem;

		/* default */
		$col: $col_light;
		color: $col;
		border-color: rgba($col, 0.7);
		background: rgba($col, 0.2);

		transition: color 0.25s, border-color 0.25s, background 0.25s; 

		&:hover {
			color: $col_dark;
			border-color: $col;
			background: $col;
		}

		/* dark version*/
		&.dark {
			$col: $col_dark;
			color: $col;
			border-color: rgba($col, 0.7);
			background: rgba($col, 0.2);

			&:hover {
				color: $col_light;
				border-color: $col;
				background: $col;
			}
		}
	}
}
