@use "sass:color";

$col_main: red;
$col_dark: #232020;
$col_light: #EEE;
$col_void: black;

$width: 1280px;
$min_width: $width - 320px;


html {
	background: $col_void;
}

body {
	margin: 0;
	font-family: sans-serif;
	background: $col_light;

	a {
		text-decoration: none;
	}

	> header {
		color: $col_light;
		background: $col_dark;
		position: relative;

		letter-spacing: 0.1rem;

		> .hero {
			/* viewport dimensions */
			width: 100vw;
			height: 100vh;
			max-width: 100%; /* To Firefox, 100vw omits the scrollbar */

			background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("/hero/hello-lightbulb-unsplash-2560.jpg");
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			//background-attachment: fixed;


			> div {
				display: flex;
				flex-direction: column;
				align-items: center;

				position: absolute;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;

				& > * {
					margin: 1.5rem;
				}

				& > div {
					font-size: 1.2rem;
				}
			}

			img {
				width: 35vw;
			}

			@media (max-width: $min_width) {
				> div {
					width: 90%;
				}

				img {
					width: 100%;
				}
			}
		}

		nav {
			width: 100%;

			color: $col_light;
			background: rgba($col_dark, 0.8);
/*
			.menu-button-container {
				display: none;
				height: 100%;
				width: 30px;
				cursor: pointer;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			#menu-toggle {
				display: none;
			}
			.menu-button-container {
				display: flex;
			}
			.menu {
				position: absolute;
				top: 0;
				margin-top: 50px;
				right: 0;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			#menu-toggle ~ .menu li {
				height: 0;
				margin: 0;
				padding: 0;
				border: 0;
				transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
			}
			#menu-toggle:checked ~ .menu li {
				border: 1px solid #333;
				height: 2.5em;
				padding: 0.5em;
				transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
			}
			.menu > li {
				display: flex;
				justify-content: center;
				margin: 0;
				padding: 0.5em 0;
				width: 100%;
				color: white;
				background-color: #222;
			}
			.menu > li:not(:last-child) {
				border-bottom: 1px solid #444;
			}
			*/

			> div {
				width: $width;
				margin: auto;
				display: flex;

				div {
					display: inline-block;
				}

				div.left {
					/*margin-right: auto;*/
					img {
						height: 48px;
						margin: 1rem auto;
					}
				}

				div.right {
					margin-left: auto;

					a {
						display: inline-block;
						padding: 2rem 1rem;

						color: $col_light;

						&:hover {
							color: $col_main;
						}
					}

					svg {
						fill: currentColor;
						width: 16px;
						height: 16px;
						/*vertical-align: top;*/
					}
				}

				@media (max-width: $min_width) {
					width: 100%;
					display: block;

					img {
						width: 90%;
						display: block;
					}

					div.left {
						margin-right: auto;
						text-align: center;
						display: block;
					}

					div.right {
						margin-left: auto;
						text-align: center;
						display: block;
					}
				}
			}
		}
	}

	.upcoming {
		img.poster {
			width: 100%;
		}

		img.sponsor {
			margin: 1rem 1rem 1rem 0;
		}

		@media (max-width: $min_width) {
			width: 90%;
		}
	}

	article {
		width: $width;
		margin: 4rem auto;

		&.press {
			width: $min_width;
			h1 {
				margin-bottom: 0.25rem;
			}
			p {
				font-size: 1.125rem;
			}
			sub {
				color: rgba($col_dark, 0.4);
			}

			img {
				max-width: 100%;
			}
		}

		@media (max-width: $min_width) {
			width: 90%;
		}
	}

	> footer {
		color: $col_light;
		background: $col_dark;

		letter-spacing: 0.05rem;

		h1 {
			margin: 0;
			padding: 0;
			font-size: 1.1rem;
			font-weight: normal;

			color: white;

			text-transform: uppercase;
			letter-spacing: 0.2rem;
		}

		.body {
			/*padding: 2em 0;*/
			width: $width;
			margin: auto;
			padding: 3rem 0;

			font-size: 0.75rem;
			color: #777;

			display: flex;
			justify-content: space-between;

			.icons svg {
				fill: currentColor;
				width: 24px;
				height: 24px;
			}

			.icons > a {
				margin: 0.35rem;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}

			a {
				color: #BBB;
	
				&:hover {
					color: $col_main;
				}
			} 

			/* Grid */
			> div {
				//flex: 1;
				width: 20%;

				& section {
					margin: 1.25rem 0;

					&:first-child {
						margin-top: 0;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.tm {
				margin: auto 0; /* align to middle */
				width: 25%;
	
				& img {
					max-width: 70%;
				}
			}

			.nav {
				width: 40%;
				display: flex;
				justify-content: space-between;
	
				> div {
					width: 45%;
				}
			}
		
			.legal {
				margin: auto 0; /* align to middle */
				width: 25%;

				text-align: justify;
			}

			@media (max-width: $min_width) {
				width: 100%;
				display: block;
	
				.connect {
					text-align: right;
				}
	
				.tm {
					text-align: center;
				}
	
				.col {
					margin: 3rem auto;
					width: 90%;
	
					&:first-child {
						margin-top: 0;
					}
	
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		.copyright {
			border-top: 1px solid white;
			padding: 1rem 0 3rem 0;
			width: $width;
			margin: auto;
			
			font-size: 0.85rem;
			text-transform: uppercase;
			letter-spacing: 0.2rem;

			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;

			a {
				color: white;

				&:hover {
					color: $col_main;
				}
			}

			@media (max-width: $min_width) {
				width: 100%;
				display: block;
	
				letter-spacing: 0.1rem;
				text-align: center;
	
				> section {
					margin: 1rem 0;
				}
			}
		}
	}

	.wide {
		display: flex;
		margin: auto;
		width: $width;
		justify-content: space-between;

		> * {
			width: 48%;
			margin: 3rem 0;
		}

		@media (max-width: $min_width) {
			width: 90%;
			display: block;

			> * {
				width: 100%;
			}
		}
	}

	.subheader, main {
		font-size: 1.125rem;

		h1, h2, h3, h4, h5, h6 {
			font-family: 'Urbanist', sans-serif;
			font-weight: 100;
			letter-spacing: 0.2rem;
		}

		h1 {
			font-size: 2.5rem;
		}
		h2 {
			font-size: 2rem;
			margin-top: 2.5rem;
		}
		h3 {
			font-size: 1.75rem;
			margin-top: 2.25rem;
		}
		h4 {
			font-size: 1.5rem;
			margin-top: 2.0rem;
		}

		.cheat {
			margin-top: 6rem;
		}
	}

	.subheader {
		/*background: #ed573a;*/
		background: #666;//#643;
		color: white;

		a, a:visited {
			//color: #f69236;
			color: #f6e276
		}
		
		a:hover {
			color: $col_main;
		}
	
		@media (max-width: $min_width) {
			padding: 1rem 0;
		}
	}

	main {
		background: $col_light;
		color: $col_dark;

		a {
			color: #ed573a;
		}
	}

	.button {
		margin: 1rem auto;
		display: flex;

		/* default */
		> a, a:visited {
			padding: 1rem 2rem;
			border: 3px solid;
			text-transform: uppercase;

			display: inline-block;
			margin: auto;

			transition: color 0.25s, border-color 0.25s, background 0.25s; 

			$col: $col_light;
			color: $col;
			border-color: rgba($col, 0.7);
			background: rgba($col, 0.2);
		}

		a:hover {
			$col: $col_light;
			color: $col_dark;
			border-color: $col;
			background: $col;
		}

		/* dark version*/
		&.dark > a {
			$col: $col_dark;
			color: $col;
			border-color: rgba($col, 0.7);
			background: rgba($col, 0.2);

			&:hover {
				color: $col_light;
				border-color: $col;
				background: $col;
			}
		}
	}
}
