{% extends "base.html" %}
{% import "_header.html" as header %}

{% block header %}<section>{{header::nav()}}</section>{% endblock header %}
{% block title %}{{page.title}} | {{super()}}{% endblock title %}

{% block content %}
<article>
    <h4><a href="..">Frequently Asked Questions</a></h4>
    {% if not page.extra.no_title %}
        <h1>{{page.title}}</h1>
        {% if page.updated %}<sub>Last updated: {{page.updated | date(format="%B %e, %Y")}}</sub>{% endif %}
    {% endif %}
    {{page.content | safe}}
</article>
{% endblock content %}
