{% extends "base.html" %}
{% import "_header.html" as header %}

{% block header %}<section>{{ header::nav() }}</section>{% endblock header %}

{% block title %}{{ page.title }} | {{ super() }}{% endblock title %}

{% block content %}
{% if page.extra.video %}
<video width="853" height="480" controls>
    <source src="{{ page.extra.video }}" type="video/mp4">
</video>
{% endif %}

# GAME
{{ page.content | safe }}

{% for platform in page.taxonomies.platform %}
  <h1>{{ platform }}</h1>
{% endfor %}

{% endblock content %}
