{% macro bar(logo=true) %}
<nav>
    <div>
        {% if logo %}
        <div class="left">
            <a href="/"><img src="/ldlogo.svg" alt="Ludum Dare"></a>
        </div>
        {% endif %}
        <div class="right">
            {% if logo %}
            <a href="https://ldjam.com/events/ludum-dare/rules/">RULES</a>
            <a href="/help/">HELP</a>
            {% else %}
            <a href="/#schedule">SCHEDULE</a>
            <a href="/help/">HELP</a>
            <a href="https://ldjam.com#user-login">LOG IN</a>           
            {% endif %}
            {#<!--
            <input type="checkbox" id="menu-toggle" />
            <label class='menu-button-container' for="menu-toggle">
                <a class="menu-button-container"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>menu</title><path d="M2 6h28v6h-28zM2 14h28v6h-28zM2 22h28v6h-28z"></path></svg></a>
            </label>
            <ul class="menu">
                <li><a href="/#schedule">SCHEDULE</a></li>
                <li><a href="/#news">NEWS</a></li>
            </ul>
    
            {#
                <a href="/#news">NEWS</a>
                <a href="/#about">ABOUT</a>
                <a href="/#games">FEATURED GAMES</a>
            -->#}
        </div>
    </div>
</nav>
{% endmacro bar %}
