{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block header %}
<section class="hero">
    {{ macros::nav(logo=false) }}
    <div>
        <img src="ldlogo.svg" alt="Ludum Dare">
        {#<div>The worlds largest online game jam</div>#}
        <a href="https://ldjam.com" class="button">Join the event</a>
    </div>
</section>
{% endblock header %}

{% block content %}
<section class="schedule">
    {#
    {% set schedule = get_section(path="schedule/_index.md") %}

    <h2>Next Event: Ludum Dare 49</h2>
    <div>Date: October 1st-4th</div>
    <div>Where: Everywhere</div>
    <a href="https://ldjam.com" class="button dark">Join the event</a>

    <div>
        {% for var in schedule.pages | reverse %}
        {# display only the events from the future (and last x days) -- seconds * minutes * hours * days #}
        {#{% if var.date | date(format="%s") | int + (60*60*24*45) >= (now(timestamp = true)) %}
            <div>{{var.title}}</div>
        {% endif %}
        {% endfor %}
    </div>


    <h3>Sponsors</h3>
    {% set sponsors = get_section(path="sponsors/_index.md") %}
    <div class="horiz">
        {% for var in sponsors.pages %}
        <div>{{var.title}}</div>
        {% endfor %}
    </div>
    #}
</section>

<section class="news">
    {#
    {% set news = get_section(path="news/_index.md") %}

    <h2>Recent News</h2>
    <div>
        {% for var in news.pages %}
        <div><a href="{{var.path}}">{{var.title}}</a></div>
        {% endfor %}
    </div>
    #}
</section>


<section class="games">
    {#
    <h2>Featured Games</h2>
    <div>Coming soon</div>
    {#
    {% set games = get_section(path="games/_index.md") %}
    <div>
        {% for var in games.pages %}
        <div><a href="{{var.path}}">{{var.title}}</a></div>
        {% endfor %}
    </div>
    <h3>More Games</h3>
    <a href="/platform/steam">Steam</a>
    <a href="/platform/playstation">PlayStation</a>
    <a href="/platform/xbox">Xbox</a>
    <a href="/platform/nintendo">Nintendo</a>
    <a href="/platform/mobile">Mobile</a>
    <a href="/platform/homebrew">Homebrew</a>
    #}
</section>


    {#
    <hr>

    {{ __tera_context }}
    #}
{% endblock content %}
