{% extends "base.html" %}

{% block content %}
{# Hero Page #}
<h1>Ludum Dare</h1>
<div>Phrase on top of hero</div>
<div>Join the event</div>

<h3>Sponsors</h3>
{% set sponsors = get_section(path="sponsors/_index.md") %}
<div class="horiz">
    {% for var in sponsors.pages %}
    <div>{{var.title}}</div>
    {% endfor %}
</div>

<h3>Random Selection of Games</h3>
{% set games = get_section(path="games/_index.md") %}
<div>
    {% for var in games.pages %}
    <div><a href="{{var.path}}">{{var.title}}</a></div>
    {% endfor %}
</div>

{% set news = get_section(path="news/_index.md") %}

<h3>Recent News</h3>
<div>
    {% for var in news.pages %}
    <div><a href="{{var.path}}">{{var.title}}</a></div>
    {% endfor %}
</div>

{#
<hr>

# HOME
{{ section.content | safe }} 

{#
<hr>
{{ __tera_context }}
#}

{% endblock content %}
