{% extends "base.html" %}

{% block title %}{{section.title}} | {{super()}}{% endblock title %}

{% block content %}
<article>
    {% block content_header %}{% endblock content_header %}
    <h1>{{section.title}}</h1>
    {{section.content | safe}}
    {% block content_body %}
    <ul>
        {% for page in section.pages %}
        <li><a href="{{page.path}}">{{page.title}}</a></li>
        {% endfor %}
    </ul>
    {% endblock content_body %}
    {% block content_footer %}{% endblock content_footer %}
</article>
{% endblock content %}
